/* BEN & CHAD'S REMOTE CONTROL STYLES */

/* CSS Mobile Reset */
html, body
{
 margin: 0;
 padding: 0; 
 border: 0;
}

body 
{
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 background: #fff;
 color: #000;s
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

table { width:auto; border-collapse: collapse;border-spacing: 0; }

/* Custom Styles */

body { background: #000; color: #fff; height: 100%; width: 100%;  }

#container { width: 100%; height: 100%; min-height: 320px; min-width: 320px;  }

/* Base Controller Styles */

.wasd, .arrows { position: relative; width: 165px; height: 200px; }

.wasd .button, .arrows .button { width: 50px; height: 50px; border: 1px solid #ccc; text-align: center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #000; }

.wasd .w, .arrows .up { margin: 0 auto; margin-bottom: 10px;  }

.wasd .a, .wasd .s, .wasd .d, .arrows .left, .arrows .right, .arrows .down { display: inline-block; }

/* Controller Left */

#controller-left { position: absolute; bottom: 0; left: 0; }

#result1 { position: absolute; top:0; right: 0; }

/* Controller Right */ 

#controller-right { position: absolute; bottom: 0; right: 0; }

#result2 { }

/* The Box & Grid */

#box { width: 100px; height: 100px; display: block; position: relative; margin: 0 auto; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 50px; background: rgb(255,21,0); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,21,0,1) 0%, rgba(155,3,3,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,21,0,1)), color-stop(100%,rgba(155,3,3,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,21,0,1) 0%,rgba(155,3,3,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,21,0,1) 0%,rgba(155,3,3,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,21,0,1) 0%,rgba(155,3,3,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,21,0,1) 0%,rgba(155,3,3,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1500', endColorstr='#9b0303',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

#grid {  -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 50px; z-index: -10; width: 200px; height: 200px; position: absolute; top: 0; left: 50%; background: rgb(174,188,191); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(174,188,191,1)), color-stop(50%,rgba(110,119,116,1)), color-stop(51%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  }

/* Phone Styles */

@media screen and (max-device-width: 800px) {

#controller-left, #controller-right { display: none; }

}