/* BEN & CHAD'S REMOTE CONTROL STYLES */
html, body
{
 margin: 0;
 padding: 0; 
 border: 0;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 width: 100%;
 height: 100%;
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 color: #fff;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; vertical-align: top; padding: 50px;}

p { margin: 0 0 0 0; padding: 20px; display: inline; width: auto; vertical-align: top; font-size: large;}

p img { margin: 0 0 0 0; padding: 0; display: inline; width: auto;}

img { border: 0; max-width: 100%; display: inline;}

table { width:auto; border-collapse: collapse;border-spacing: 0; }

#title { font-family: 'Audiowide', cursive; margin: 0 auto; display: inline; position: relative; text-align: left; padding: 50px;}

/* Custom Styles */

#container { height: 100%; min-height: 320px;}

/* Menu Styles */

#top-menu-container { background: #000; width: 100%; position: absolute; z-index: 99; opacity: .5; }

#bottom-menu-container { background: #000; width: 100%; position: absolute; bottom: 0; z-index: 99; opacity: .5; }

.hud {margin: 0; height: 50px; position: relative; }

.hud .button { background: #fff; padding: 7px 10px; color: #000; height: 36px; display: inline; }

.hud ul { list-style: none; margin: 0; padding: 0;  }

#camera-options { }

#camera-options-menu { display: none; position: absolute; top: -92px; background: #fff; left: 0; padding: 10px; }

#camera-options-menu a { color: #000; text-decoration: none; }


/* Base Controller Styles */

.wasd, .arrows { position: relative; width: 165px; height: 200px; }

.wasd .button, .arrows .button { width: 50px; height: 50px; border: 1px solid #ccc; text-align: center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #000; }

.wasd .w, .arrows .up { margin: 0 auto; margin-bottom: 10px;  }

.wasd .a, .wasd .s, .wasd .d, .arrows .left, .arrows .right, .arrows .down { display: inline-block; }

/* Controller Left */

#controller-left { position: absolute; bottom: 0; left: 10px; }

/* Controller Right */ 

#controller-right { position: absolute; bottom: 0; right: 10px; }

/* Phone Styles */

@media screen and (max-device-width: 800px) {

#controller-left, #controller-right { display: none; }

}