<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <!--<context:property-placeholder location="robot.properties"/>-->
    <context:annotation-config/>

    <context:component-scan base-package="webrc.server"/>



    <!--Brokers messages between publishers and subscribers-->

    <bean id="messageService" class="webrc.messaging.MessageService">
    </bean>

    <bean id="socketNotifier" class="webrc.server.endpoints.ServerSocketNotifier">
        <property name="port" value="8081"/>
    </bean>

    <bean id="embeddedTomcatFactory" class="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainerFactory">
        <property name="contextPath" value=""/>
    </bean>

</beans>